USE [master]
GO
/****** Object:  Database [QLCuaHangDT]    Script Date: 10/11/2022 1:34:53 PM ******/
CREATE DATABASE [QLCuaHangDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCuaHangDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLCuaHangDT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCuaHangDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLCuaHangDT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCuaHangDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCuaHangDT]
GO
/****** Object:  Table [dbo].[CHDT]    Script Date: 10/11/2022 1:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHDT](
	[ID] [int] NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[HANG] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[NGAYNHAP] [nvarchar](50) NOT NULL,
	[NGAYXUAT] [nvarchar](50) NULL,
	[GIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 10/11/2022 1:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[IDLOGIN] [nchar](30) NOT NULL,
	[PWLOGIN] [nchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/11/2022 1:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[KH] [int] NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[NGAYSINH] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
	[SDT] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUAHANG]    Script Date: 10/11/2022 1:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUAHANG](
	[ID_MH] [int] NOT NULL,
	[KH] [int] NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[ID] [int] NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHDT] ([ID], [TENSP], [HANG], [SOLUONG], [NGAYNHAP], [NGAYXUAT], [GIA]) VALUES (1, N'Galaxy A03s', N'Samsung', 15, N'10/10/2022', N'', 3000000)
INSERT [dbo].[CHDT] ([ID], [TENSP], [HANG], [SOLUONG], [NGAYNHAP], [NGAYXUAT], [GIA]) VALUES (2, N'Galaxy A13', N'Samsung', 15, N'10/10/2022', N'', 3950000)
INSERT [dbo].[CHDT] ([ID], [TENSP], [HANG], [SOLUONG], [NGAYNHAP], [NGAYXUAT], [GIA]) VALUES (3, N'Galaxy A23', N'Samsung', 15, N'10/10/2022', N'', 4900000)
GO
INSERT [dbo].[DANGNHAP] ([IDLOGIN], [PWLOGIN]) VALUES (N'admin                         ', N'1234                          ')
GO
INSERT [dbo].[KHACHHANG] ([KH], [TENKH], [NGAYSINH], [EMAIL], [PHAI], [SDT]) VALUES (1, N'Tạ Cao Thắng', N'10/10/1996', N'20005539@lttc.edu.vn', 1, N'0906649525')
INSERT [dbo].[KHACHHANG] ([KH], [TENKH], [NGAYSINH], [EMAIL], [PHAI], [SDT]) VALUES (2, N'Lục Vỹ Phong', N'25/12/2002', N'20005166@lttc.edu.vn', 1, N'0348141599')
INSERT [dbo].[KHACHHANG] ([KH], [TENKH], [NGAYSINH], [EMAIL], [PHAI], [SDT]) VALUES (3, N'Đặng Quốc Huy', N'02/09/2002', N'20003711@lttc.edu.vn', 1, N'0967505167')
GO
ALTER TABLE [dbo].[MUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[CHDT] ([ID])
GO
ALTER TABLE [dbo].[MUAHANG] CHECK CONSTRAINT [FK_ID]
GO
ALTER TABLE [dbo].[MUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_KH] FOREIGN KEY([KH])
REFERENCES [dbo].[KHACHHANG] ([KH])
GO
ALTER TABLE [dbo].[MUAHANG] CHECK CONSTRAINT [FK_KH]
GO
USE [master]
GO
